<!DOCTYPE html>
<html ng-app="sample">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Auto-Next Directive sample</title>
</head>
<body>
    <input type="text" maxlength="2" ng-model="var1" ng-pattern="/^\d+$/" auto-next>
    <input type="text" maxlength="2" ng-model="var2" ng-pattern="/^\d+$/" auto-next>
    <input type="text" maxlength="2" ng-model="var3" ng-pattern="/^\d+$/">

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../src/zAuto-next.js"></script>
    <script src="zAuto-next-sample.js"></script>
</body>
</html>